In [23]:
import pandas as pd
import numpy as np
from scipy import stats

In [24]:
df = pd.read_csv(r'C:\Users\diana\OneDrive\Bureau\Labs\IHack\lab-t-tests-p-values\files_for_lab\machine.txt', delimiter='\t', encoding='utf-16')
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [27]:
# Standardize the header names:
df.columns=df.columns.str.lower()
df.columns

Index(['new machine', '    old machine'], dtype='object')

In [28]:
# Rename the column "old machine":
df = df.rename(columns={'    old machine': 'old machine'})
df.head()

   new machine  old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [29]:
mean_new_machine = df['new machine'].mean()
mean_new_machine

42.14

In [30]:
mean_old_machine = df['old machine'].mean()
mean_old_machine

43.230000000000004

In [ ]:
# Sample sizes
n_new = 10
n_old = 10

In [33]:
# Pooled standard deviation
sp = np.sqrt(((n_new - 1) * std_new_machine**2 + (n_old - 1) * std_old_machine**2) / (n_new + n_old - 2))

# T-statistic calculation
t_stat = (mean_new_machine - mean_old_machine) / (sp * np.sqrt(1/n_new + 1/n_old))

print("T-statistic:", t_stat)

T-statistic: -3.3972307061176026

In [34]:
# Degrees of freedom
df = n_new + n_old - 2

# Calculate the p-value
p_value = stats.t.cdf(t_stat, df=df)

print("P-value:", p_value)

P-value: 0.0016055712503872579

In [ ]:
As we know the t-statistic and As we know, the t-statistic is -3.3972, and the significance level (Î±) is 0.05. By consulting the t-distribution table, we find a critical value of 2.262. Since the absolute value of the calculated t-statistic (3.3972) is greater than the critical value (2.262), we can conclude that the new machine is significantly faster than the old machine.